<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nacita Training Center</h2>
                <hr class="light">
                <p class="text-faded">Nacita adalah komunitas belajar yang ingin melakukan pengembangan, Terutama pengembangan diri sendiri sehingga dapat menjadi IT Professional. Dengan segala sumber yang ada (knowledge & skill) yang kami miliki, kami tetap riset dan mengembangkan untuk menjadi yang berkualitas. Walaupun kami sadari, “di atas awan ada awan lagi”, kita menyadari bahwa bukan terbaik di dunia tetapi hanya ada yang lebih baik.</p>
                <a href="#" class="btn btn-default btn-xl">Memulai!</a>
            </div>
        </div>
    </div>
</section>
